/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ......................... 12
2. Variables ...................... 16
3. Estilos generales .............. 27
-------------------- */

/* ----- Fuente ----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ----- Variables ----- */
:root {
  /* colores */
  /* --color: #181a1b; */
  --color: #191847;

  /* config. */
  --fuente: "Poppins", sans-serif;
  --l-height: 22px;
  font-size: 16px;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fuente);
  background: #eef2f9;
  color: var(--color);
  height: 100vh;
  display: grid;
  place-items: center;
}

article {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 24px 28px 9px #b3c1d954;
  padding: 5.125rem;
  width: 100%;
  /* max-width: 31.25rem; */
  display: flex;
  /* flex-direction: column; */
  gap: 0.625rem;
  flex-direction: row;
  max-width: 55.4375rem;
}

article img {
  width: 15.5625rem;
  height: 13.9375rem;
  margin: 0 auto;
}

article section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tag {
  padding: 0.25rem 0.5rem;
  background: var(--color);
  border-radius: 1.25rem;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

h1 {
  margin-top: 0.625rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.old-price {
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.price {
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 700;
}

.valid {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  opacity: 0.6;
}

.btn-blue {
  background: #4788e9;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 7px 0px 0px #1c57ee;
  transition: all 0.3s ease-in-out;
}

.btn-blue:hover {
  background: #fff;
  color: #191847;
  outline: 1px solid #1c57ee;
  
}
.stock {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.stock span {
  font-size: 3.125rem;
  color: #00d98b;
}

.add-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.btn-add {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  border: 1px solid #c9c9da;
  border-radius: 0.5rem;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-add:hover {
  background: #c9c9da;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  article {
    flex-direction: column;
    max-width: 31.25rem;
    gap: 1.5rem;
  }
}
